
<html>

    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Playdisplay=swap" rel="stylesheet">

        <title>KOADS</title>

        <meta name="theme-color" content="#ffffff">
    </head>

<body>

    <div class="very_main">

        <header>
            <div class="top_frame">
                <br><br>
                <h2>GRADE LEVEL PREDICTION OF KNEE OSTEOARTHRITIS USING <br> CONVOLUTIONAL NEURAL NETWORK</h2>
            </div>
        </header>

        {% extends "base.html" %} {% block content %}
        <div>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
                    Upload Radiograph
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>

            <div class="image-section" >
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                <div>
                    <button type="button" class="upload-label" id="btn-predict">Click to Predict</button>
                </div>
            </div>

            <div class="loader" ></div>

            <h3 id="result">
                <span> </span>
            </h3>

        </div>

    </div>

    {% endblock %}

</body>

</html>